build/*
blender/*
vendor/*
out/*
in/*
*.cmake
*.bsp
*.obj
*.vmf
*.png
*.txt
__pycache__/*
*.log
*.pyc
*.pyo
*.obj
*.md
license*
*.ico
node_modules/*
src/config-gen/node_modules/*
src/config-gen/dist/*